*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    padding: 20px;
    margin: 20px;
} */

h1{
    text-align:center;
}
header{
    background-color: crimson;
     padding: 70px;
}
.header{
    color: rgb(255, 0, 0);
}
#header_main{
    background-color: bisque;
}
section{
    background-color: beige;
}
.section{
    color: rgb(0, 128, 55);
}
p{
    background-color: rgb(202, 229, 202);
}
.p{
    color:red;
}
#p.main{
    background-color: chartreuse;
}
#header_img{
    border-radius: 40%;
}
h1{
    background-color: rgb(226, 43, 43);
}
.h1{
    color: chartreuse;
}
img{
    border-radius: 50%;
    border-style: solid;
}
h3{
    text-align: center;
}
